# Environnement
NODE_ENV=development
PORT=3000

# Base de données
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ucb_bukavu?schema=public"

# URL Front
WEB_ORIGIN="http://localhost:5173"

# Sécurité & Session
SESSION_SECRET="super-secret-key-to-change-in-production"

# Stockage
STORAGE_PATH="./uploads"
MAX_FILE_SIZE=52428800 # 50 MB en octets
